:root {
  --purple: #8f43ee;
  --dark-brown: #2d2727;
  --brown: #413543;
  --yellow: #f0eb8d;
  --sidecar: #fdbf60;
  --white: #fff;
  --white-smoke: #f5f5f5;
}

html,
body {
  height: 100%;
  background-color: var(--dark-brown);
  padding: 0.5rem;
}

.content {
  margin: 0 auto;
  max-width: 85rem;
  width: 100%;
}

.title {
  color: var(--yellow);
  font-family: "Cormorant Infant", serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.movement {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.subtitle {
  color: var(--white);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.25rem;
}

.available {
  border-radius: 0.25rem;
  box-shadow: inset 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2),
    inset -0.25rem -0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.card-container {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border: 0.2rem solid var(--purple);
  border-radius: 0.25rem;
  cursor: pointer;
  position: relative;
  padding: 1rem;
  transform-style: preserve-3d;
  transition: transform 500ms ease-in-out;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

/* .card:hover {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
} */

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}

.card__front {
  /* background-image: url("../images/brook.png"); */
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.card__back {
  background-color: var(--sidecar);
  background-image: url("../images/jolly.png");
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card__name {
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: capitalize;
}

.card--picked {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.card--guessed {
  transform: rotateY(180deg) scale(0.9);
  -webkit-transform: rotateY(180deg) scale(0.9);
  -moz-transform: rotateY(180deg) scale(0.9);
  -ms-transform: rotateY(180deg) scale(0.9);
  -o-transform: rotateY(180deg) scale(0.9);
}

/* Modal */
.modal {
  align-items: center;
  backdrop-filter: blur(0.2rem);
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: all 270ms ease-in;
  -webkit-transition: all 270ms ease-in;
  -moz-transition: all 270ms ease-in;
  -ms-transition: all 270ms ease-in;
  -o-transition: all 270ms ease-in;
}

.modal--open {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.modal-container {
  align-items: center;
  background-color: var(--white);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  max-width: 20rem;
  padding: 1rem;
  width: 100%;
}

.modal-title {
  color: var(--dark-brown);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.button {
  background-color: #888;
  border: 0.15rem solid var(--purple);
  color: var(--sidecar);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: all 270ms ease-in;
  -webkit-transition: all 270ms ease-in;
  -moz-transition: all 270ms ease-in;
  -ms-transition: all 270ms ease-in;
  -o-transition: all 270ms ease-in;
}

.button:hover,
.button:active {
  background-color: var(--white);
  color: var(--purple);
}
